!!!
%html
  %head
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Customer Details
    :css
      body 
        {
          font-family: Arial, sans-serif;
          background-color: #f8f8f8;
          margin: 0;
          padding: 0;
          overflow: hidden;
        }

        input[type="text"],
        input[type="submit"] {
          width: 100%;
          padding: 8px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
    
        input[type="submit"] {
          background-color: #007bff;
          color: white;
          cursor: pointer;
        }
    
        input[type="submit"]:hover {
          background-color: #0056b3;
        }
    
        .list-view-border {
          overflow: hidden;
        }
         
        .top_nav{
          display: flex;
          justify-content: space-between;
          background-color:#1e1e2d;
          color:#c0c4d1;
          height:70px;
          font-size: 1rem;
          font-weight:500;
          align-items:center;
          padding: 0 !important;
          margin: 0 !important;
        }
      
        label.required::after{
          content: "*";
          color: red;
          margin-left: 2px;
          font-size: 20px;
        }
        .logo {
          height: 100%;
          margin-right: 10px;
        }
        .form-container {
          width: 50%; 
          margin: 0 auto; 
          padding: 20px; 
          border: 1px solid #ccc; 
          border-radius: 5px; 
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
          background-color: #fff; 
        }
   
    %body
      .top_nav
        = image_tag('Happy-Tide.png', class: 'logo')
        %label.animation.user-label Hello..
      - if @customer.present?
        %div{ style: "text-align: center;" }
          %h1 Consent
        .form-container
          = form_with(url: "/save_location", method: :post, id: "capture-location-form") do |form|
            = form.hidden_field :mobile, value: @customer.mobile
            = form.hidden_field :latitude, id: "latitude"
            = form.hidden_field :longitude, id: "longitude"
            %br
            .form-group
              = form.label :first_name, 'First Name', class: 'required'
              = form.text_field :first_name, required: true, class: 'form-control', value: @customer.first_name
            .form-group
              = form.label :last_name, 'Last Name', class: 'required'
              = form.text_field :last_name, required: true, class: 'form-control', value: @customer.last_name
            .form-group
              = form.label :mobile, 'Mobile (10 digits)', class: 'required'
              = form.text_field :mobile, required: true, pattern: '\d{10}', class: 'form-control', readonly: true, value: @customer.mobile
            %br/
            %input{ type: "submit", value: "Submit" }
      - else
        %div{id: 'not-found-message', style: 'text-align: center; margin-top: 20vh; font-weight: bold; font-size: 2em;'}
          %p Customer data not present. Please click on the below button to apply for a loan.
          %div{id: 'success-message-text'}
            %a{href: '/onboard', id: 'onboardNewButton'} Apply Loan

      :javascript
        document.addEventListener('DOMContentLoaded', function() {
            var form = document.getElementById('capture-location-form');
            navigator.geolocation.getCurrentPosition(function(pos) {
                var crd = pos.coords;
                form.querySelector('#latitude').value = crd.latitude;
                form.querySelector('#longitude').value = crd.longitude;
            }, function(err) {
                console.log('ERROR(' + err.code + '): ' + err.message);
            });
        
            form.addEventListener('submit', async function(event) {
                event.preventDefault();
        
                // Check if latitude and longitude are present
                if (!form.querySelector('#latitude').value || !form.querySelector('#longitude').value) {
                    alert('Please allow access to your location to capture latitude and longitude.');
                    return;
                }
        
                var formData = new FormData(form);
                await fetch(form.action, {
                    method: form.method,
                    body: formData
                }).then(response => response.json())
                  .then(data => {
                      console.log(data);
                  }).catch(error => {
                      console.error('Error:', error);
                  });
            });
        
            var onboardNewButton = document.getElementById('onboardNewButton');
            onboardNewButton.addEventListener('click', function(event) {
                event.preventDefault();
                window.location.reload();
                hideSuccessMessageOverlay();
                window.location.href = '/onboard';
            });
        });
        